{% extends 'base.html' %} 
{% load static %} 

{% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/bowls/bowl-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>All Dog Bowls</h1>
  <img src="{% static 'images/27.svg' %}" alt="A purple dog bowl" />
  <img src="{% static 'images/29.svg' %}" alt="A pink dog bowl with bones" />
  <img src="{% static 'images/28.svg' %}" alt="A gold dog bowl" />
</section>

<section class="card-container">
  {% for bowl in bowl_list %}
  <div class="card" style="border-color: {{ bowl.color }}">
    <div class="card-bg" style="background-color: {{ bowl.color }}"></div>
    <a href="{% url 'bowl-detail' bowl.id %}">
      <div class="card-content">
        <h2>{{ bowl.size }}</h2>
        <p>{{ bowl.color }} bowl</p>
      </div>
    </a>
  </div>
  {% endfor %}
</section>

{% endblock %}